@model Blog.Models.Comment

@using (Ajax.BeginForm("Index", new AjaxOptions
{
    HttpMethod = "POST",
    Confirm = "Potwierdź",
    OnSuccess = "alert('dasdas')",
    UpdateTargetId = ViewBag.ID2
}))
{
    <div class="form-group">
        @{ Model.PostID = ViewBag.ID; }

        @Html.HiddenFor(m => m.PostID)

        <p>Dodaj Komentarz</p>
        @Html.TextAreaFor(m => m.Body)
    </div>
    <button type="submit" class="btn btn-primary" >Dodaj Komentarz</button>
}