@model List<Blog.ViewModel.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container" id="T">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <strong>@item.Post.Title</strong>
                @item.Post.Body
                <span id="Zmien">
                    @{Html.RenderPartial("_Comments", item.KomentarzePosta);}
                </span>
                @*@foreach (var comment in item.KomentarzePosta)
                    {
                        <p style="color: red;">@comment.Body</p>
                    }*@

                @*@{Html.RenderPartial("_CommentForm", Model[Model.Count - 1].Komentarz)}*@
                @Html.Action("Komentarz", new { id = item.Post.PostID })
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#T').css("background-color", "blue");
        });
    </script>
}

