@model List<Blog.ViewModel.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container" id="T">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <strong>@item.Post.Title</strong>
                @item.Post.Body
                @{Html.RenderPartial("_Comments", item.KomentarzePosta);}
                @Html.Action("Komentarz", new { id = item.Post.PostID})
            </div>
        }
    </div>
</div>

@section Scripts
{
<script>
        $(function ()
        {
            $('#T').css("background-color", "blue");
        });


        function Usun(ele)
        {
            $ele = $(ele);
            $komentarzID = $ele.prev().prev().prev().attr('name');
            $postId = $ele.prev().prev().prev().attr('class');

            

            $.ajax({
                url: '@Url.Action("Delete", "Post")',
                data: { komentarzID: $komentarzID },
                success: function (data)
                {
                    console.log('#' + $postId);
                    console.log('-----------------------------');
                    console.log(data);
                    $('#' + $postId).replaceWith(data);
                }
            });
        }

        function Edytuj(ele)
        {
            $ele = $(ele);
            $komentarzID = $ele.prev().prev().attr('name');
            $text = $ele.prev().val();
            $postId = $ele.prev().prev().attr('class');
            $ele.remove();

            $.ajax({
                data: { komentarzID: $komentarzID, text: $text },
                success: function (data)
                {
                    console.log($komentarzID);
                    $('.' + $komentarzID).replaceWith(data);
                }
            });
        }
</script>
}

